* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.containt {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* color: white; */
}

.subContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

h1 {
  position: absolute;
  width: 568px;
  height: 32px;
  left: 108px;
  top: 302px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 32px;
}

p {
  position: absolute;
  max-width: 550px;
  /* height: 116px; */
  left: 108px;
  top: 379px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  /* line-height: 32px; */
}

.navBar{
  display: flex;
}
.list{
  display: flex;
}